* { padding:0; margin:0; }
canvas { vertical-align:bottom; }

button {
    margin: 0.2rem;
    padding: 1rem;
    color: white;
    background-color: cadetblue;
    border: none;
    border-radius: 0.6rem;
}